<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">products</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-list *ngFor="let catch of products">
        <ion-item>
          <ion-label>{{catch.name}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>
    </ion-card>
  </ion-header>
</ion-content>
